@font-face {
    font-family: "Norse";
    src: url('/public/fonts/Norse.otf');
}

.credits {
    font-family: 'Norse', Helvetica;
    color: ivory;
    z-index:50;
}

.main-div {
    width: 100%;
    height: 100%;
    margin: 0%;
    position: absolute;
    background-image: url("./Background_ui.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-title {
    display: flex;
    justify-content: center; 
    padding-top: 80px;
}

.main-content {
    padding: 50px;
    text-align: center;
}